<!DOCTYPE html>
<html>
	<head>
		<title>Install Page</title>
		<link rel="stylesheet" href="css/seaff.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<center><%= image_tag('salogo.png') %></center>
					<!-- This is a section -->
					<div class="section">
						<!-- Section content with generic quantity of rows-->
						<div class="section-content">
							<!-- A section row with generic quantity of cells -->
							<div class="section-row">
								<div class="section-cell">
									<div class="cell-container">
										<div class="cell-column">
											<form method="GET" action="login">
												<div class="form-group">
													<label>Type shop name to install this app:</label>
													<input type="text" name="shop" placeholder="shopname.myshopify.com"/>
												</div>
												
												<center>	<button type='submit' class="btn primary">Install</button></center>
											</form>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>